#right-icon.no-text {
    border: 0px none;
    background-color: transparent;
    }
#right-icon {
        height: 50px;
        width: 50px;
        border-radius: 26px;
        border: 1px solid #e1e1e1;
        position: fixed;
        bottom: 52px;
        right: 6px;
        z-index: 100;
        overflow: hidden;
        -webkit-transition: width ease-in-out .3s;
        -moz-transition: width ease-in-out .3s;
        transition: width ease-in-out .3s;
        background-color: white;
        background-clip: padding-box;
    }
a#global-cart {
    z-index: 10;
}
#right-icon .icon {
    float: left;
    width: 50px;
    height: 50px;
}
.no-text a#global-cart {
    background: url(../img/icons_sprite@2x_29025c38a6.png) no-repeat;
    background-size: 300px 150px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), not all, not all
.no-text a#global-cart {
    background-image: url(../img/icons_sprite@2x_29025c38a6.png);
}
.no-text a#global-cart.s3 {
    background-position: -50px -100px;
}
div, span, li, dt, dd {
     cursor: pointer;
 }